<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean" primary="true"> 
		<!-- have to set primary to true as there are more than resolvers -->
		<property name="favorPathExtension" value="false" /> <!-- Path extensions are disabled -->
		<property name="favorParameter" value="true" /> <!-- Set to true -->
		<property name="parameterName" value="msd_mediaType"/>
		<property name="ignoreAcceptHeader" value="true" />
		<property name="defaultContentType" value="application/xml" />
		<property name="useJaf" value="true" />
		
		<property name="mediaTypes">
        <map>
            <entry key="json" value="application/json" /> <!-- passed from url parameter-->
            <entry key="xml" value="application/xml" /> <!-- passed from url parameter-->
            <entry key="fool" value="application/json" /> <!-- passed from url parameter-->
        </map>
    </property>
		
	</bean>
	<mvc:annotation-driven  content-negotiation-manager="contentNegotiationManager"/>

</beans>